*.pyc
data/*
!data/HelloWorld
!data/abs
!data/max
!data/microwave
config.py
*~
*.swp
*.swo
*.log

lib/cherrypy
lib/mako

src/.idea/.name

src/.idea/src.iml

nbproject/private/private.xml

src/.idea/encodings.xml

src/.idea/misc.xml

src/.idea/modules.xml

src/.idea/scopes/scope_settings.xml

src/.idea/vcs.xml

src/.idea/workspace.xml

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/WyWeb.iml
